.shopsection {
  margin: 0;
  padding: 1em 2em;

  #essentials {
    padding-top: 5;
  }

  #jewelry {
    padding-top: 5;
  }

  #enjoyment {
    padding-top: 5;
  }

  .category {
    margin: 0;
    padding: 0;

    h2 {
      margin: 3em 0 0.5em;
      text-align: center;
      color: var(--accent-color);
      font-family: var(--title-font);
      font-size: 60px;
    }

    .items {
      margin: 0;
      display: flex;
      gap: 100px;
      justify-content: center;
      flex-wrap: wrap;

      .item {
        margin: 0;
        flex: 1 1 300px;
        max-width: 300px;

        h3 {
          margin: 1em 0 0;
          font-family: var(--title-font);
          font-size: 30px;
          text-align: center;
          padding-bottom: 20px;
          color: var(--secondary-color);
        }

        img {
          width: 300px;
          height: 300px;
          border-radius: var(--border-radius);
          border-color: var(--accent-color);
          border-style: solid;
        }

        figure {
          position: relative;
        }

        figure::before {
          position: absolute;
          top: 0;
          left: -75%;
          z-index: 2;
          display: block;
          content: "";
          width: 50%;
          height: 100%;
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
          -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
        }

        figure:hover::before {
          -webkit-animation: shine 0.75s;
          animation: shine 0.75s;
        }

        @-webkit-keyframes shine {
          100% {
            left: 125%;
          }
        }
        @keyframes shine {
          100% {
            left: 125%;
          }
        }
      }
    }
  }
}

figure {
  width: 300px;
  height: 300px;
  margin: 0;
  padding-left: 0;
  padding-right: 6;
  padding-bottom: 6;
  overflow: hidden;
}

.checkoutsection {
  justify-content: center;
  margin-top: 200;
  padding: 1em 2em;
  display: flex;
  gap: 100px;

  .out {
    color: var(--secondary-color);

    form {
      label {
        color: var(--secondary-color);
        font-size: 30px;
        font-family: var(--title-font);
      }

      input[type="number"] {
        width: 300px;
        padding: 15px;
        font-size: 18px;
        border: 2px solid var(--accent-color);
        border-radius: 30px;
        background-color: var(--background-color);
        color: var(--secondary-color);
        outline: none;
        margin-right: 10px;
        transition: all 0.3s ease-in-out;
      }

      input[type="number"]:focus {
        box-shadow: 0 0 10px var(--accent-color);
        border-color: var(--accent-color);
      }

      input[type="text"] {
        margin-left: 30;
        font-family: var(--title-font);
        margin-top: 20px;
        width: 300px;
        padding: 15px;
        font-size: 18px;
        border: 2px solid var(--accent-color);
        border-radius: 30px;
        background-color: var(--background-color);
        color: var(--background-color);
        outline: none;
        margin-right: 10px;
        transition: all 0.3s ease-in-out;
      }

      input[type="text"]:focus {
        box-shadow: 0 0 10px var(--accent-color);
        border-color: var(--accent-color);
      }

      input[type="submit"] {
        font-family: var(--title-font);
        margin-top: 20px;
        margin-left: 225px;
        padding: 15px 30px;
        font-size: 18px;
        background-color: var(--accent-color);
        color: var(--background-color);
        border: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
      }

      input[type="submit"]:hover {
        background-color: #ffd700;
        box-shadow: 0 0 20px var(--accent-color);
      }

      input[type="submit"]:active {
        background-color: #e6b800;
      }
    }
  }

  .item {
    img {
      width: 300px;
      height: 300px;
      border-radius: 8px;
      border-color: var(--accent-color);
      border-style: solid;
    }

    p {
      padding-left: 20;
      color: var(--secondary-color);
      font-family: var(--title-font);
      font-size: 40px;
    }
  }
}
