@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --primary-color: black;
  --secondary-color: white;
  --accent-color: #b48803;
  --title-font: "Playfair Display", serif;
  --content-font: "PT Serif", serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.button1{
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  scale: 1.07;
}
button:hover{
  color:var(--primary-color);
  border-color: var(--secondary-color);

}
.button2 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  border-color: var(--accent-color);
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover.button2 {
  color:var(--primary-color);
  background-color:var(--accent-color);
  border-color: var(--secondary-color);
  scale: 1.07;
}

body {
  margin:5;
  background-color: var(--primary-color);
  color: var(--accent-color);
}
.navbar.blurred {
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background-color 0.3s ease;
}
.navbar img {
  margin: 0 0 0 1em;
  height: 90px;
}
.navbar .links {
  margin: 0;
}
.navbar .links a {
  margin: 0 30px;
  text-decoration: none;
  color: var(--secondary-color);
  font-family: sans-serif;
  font-size: 18px;
  position: relative;
}
.navbar .links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.5s ease;
}
.navbar .links a:hover::after {
  width: 100%;
}

.header {
  margin: 100px 0 0 0;
  height: 100vh;
  background-image: url("../img/welcome.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.header h1 {
  margin: 0;
  padding: 0 0 2em 1em;
  font-family: var(--title-font);
  font-weight: 700;
  font-style: normal;
  color: var(--secondary-color);
  font-size: 125px;
}



footer {
  align-items: center;
  margin: 0;
  padding: 1em 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--title-font);
  text-align: center!important;
}
footer .content {
  margin: 0;
  padding: 7em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}
footer .content .useful_links,
footer .content .social_media,
footer .content .contact {
  margin: 0;
  padding: 2em 0;
  width: 250px;
  border-radius: var(--border-radius);
  text-align: center;
  border-bottom: 2px solid var(--accent-color);
}
footer .content .useful_links h3,
footer .content .social_media h3,
footer .content .contact h3 {
  margin: 0.5em 0 2em;
  padding: 0;
  color: var(--accent-color);
  font-family: var(--title-font);
  font-size: 30px;
  text-decoration: underline;
}
footer .content .useful_links a,
footer .content .useful_links p,
footer .content .social_media a,
footer .content .social_media p,
footer .content .contact a,
footer .content .contact p {
  margin: 1em 0;
  display: inline-block;
  font-family: var(--content-font);
  color: white;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}
footer .content .useful_links a::after,
footer .content .useful_links p::after,
footer .content .social_media a::after,
footer .content .social_media p::after,
footer .content .contact a::after,
footer .content .contact p::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition: width 0.5s ease, left 0.5s ease;
}
footer .content .useful_links a:hover::after,
footer .content .useful_links p:hover::after,
footer .content .social_media a:hover::after,
footer .content .social_media p:hover::after,
footer .content .contact a:hover::after,
footer .content .contact p:hover::after {
  left: -5px;
  width: calc(100% + 10px);
}
footer .content .useful_links p:hover,
footer .content .social_media p:hover,
footer .content .contact p:hover {
  cursor: pointer;
}
footer img {
  height: 500px;
}
footer p {
  margin: 0;
  font-family: var(--title-font);
}

body section {
  display: flex;
  justify-content: center;
  height: 25vh;
}
body section h1 {
  color:var(--secondary-color);
  font-size: 450%;
}

body section h2 {
  font-size: 7px;
}

body main {
  color: var(--secondary-color);
}

.line {
  display: flex;
  margin-left: 50px;
  text-align: center;
    margin: 0; 
    padding: 0; 
}
.line .japaner img { 
 width:38%;
 height: auto;
 background-color:var(--accent-color);
  padding: 2px;
  border: 3px;
  margin-top: 22%
}
.line .chefprofile img { 
  width: 35%;
  height: auto;
  background-color:var(--accent-color);
  padding: 2px;
  border: 3px;
  margin-top: 22%
}
.line .third img {
  width: 35%;
  height: auto;
  background-color:var(--accent-color);
  padding: 2px;
  border: 3px;
  margin-top: 22%
}

.jp img {
  width: 17%;
  margin-right: 15px;
  background-color: var(--accent-color);
  padding: 5px;
  border: 5px;
  border-color: var(--accent-color);
}

.fr img {
  width: 17%;
  margin-right: 15px;
  background-color: var(--accent-color);
  padding: 5px;
  border: 5px;
  border-color: var(--accent-color)
}

.mx img {
  width: 17%;
  margin-right: 15px;
  background-color: var(--accent-color);
  padding: 5px;
  border: 5px;
  border-color: var(--accent-color);

}
/*# sourceMappingURL=style.css.map */

